<table class="table">
  <caption>
    {{
      productCatalogName
    }}
    Products
    <button
      class="btn btn-primary btn-sm"
      (click)="openAddProductModal()"
      *ngIf="(customer$ | async)?.isAdministrator"
    >
      Create Product
    </button>
  </caption>
  <thead>
    <tr>
      <th scope="col" class="left">Name</th>
      <th scope="col" class="left">Description</th>
      <th scope="col" style="width: 100px">Unit Price</th>
      <th style="width: 95px">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="products.length == 0">
      <td colspan="4">
        <div><strong>No products found</strong></div>
      </td>
    </tr>
    <tr *ngFor="let product of products">
      <td class="left">{{ product.name }}</td>
      <td class="left">{{ product.description }}</td>
      <td>{{ product.unitPrice | number: "1.2-2" }}</td>
      <td>
        <clr-dropdown>
          <button class="btn btn-primary btn-sm" clrDropdownTrigger>
            Action
          </button>
          <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
            <div clrDropdownItem>
              <a
                class="dropdown-item"
                (click)="openCreateOrderModal(product)"
                style="cursor: pointer"
                >Add to Cart</a
              >
            </div>
            <div *ngIf="(customer$ | async)?.isAdministrator">
              <div class="dropdown-divider" role="separator"></div>
              <div clrDropdownItem>
                <a
                  class="dropdown-item"
                  (click)="openEditProductModal(product)"
                  style="cursor: pointer"
                  >Edit Product</a
                >
              </div>
              <div clrDropdownItem>
                <a
                  class="dropdown-item"
                  (click)="openDeleteProductModal(product)"
                  style="cursor: pointer"
                  >Delete Product</a
                >
              </div>
            </div>
          </clr-dropdown-menu>
        </clr-dropdown>
      </td>
    </tr>
  </tbody>
</table>

<clr-modal
  [(clrModalOpen)]="isOpenAddProductModal"
  *ngIf="isOpenAddProductModal"
>
  <h3 class="modal-title">Add Product</h3>
  <div class="modal-body">
    <form
      clrForm
      clrLayout="horizontal"
      clrLabelSize="3"
      [formGroup]="productForm"
      autocomplete="off"
    >
      <clr-input-container>
        <label>Name</label>
        <input clrInput type="text" formControlName="name" />
        <clr-control-error
          >Please enter a name for the product!</clr-control-error
        >
      </clr-input-container>
      <clr-textarea-container>
        <label>Description</label>
        <textarea
          clrTextarea
          formControlName="description"
          cols="32"
          rows="5"
        ></textarea>
        <clr-control-error
          >Please enter a description for the product!</clr-control-error
        >
      </clr-textarea-container>
      <clr-input-container>
        <label>Unit Price</label>
        <input
          clrInput
          type="text"
          formControlName="unitPrice"
          placeholder="0.00"
          appTwoDigitDecimalNumber
        />
        <clr-control-error
          >Please enter the unit price of the product!</clr-control-error
        >
      </clr-input-container>
      <clr-date-container>
        <label>Effective Date</label>
        <input type="date" clrDate formControlName="effectiveDate" required />
        <clr-control-error
          >Please enter the effective date of the product!</clr-control-error
        >
      </clr-date-container>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" (click)="isOpenAddProductModal = false">
      Cancel
    </button>
    <button
      class="btn btn-primary"
      (click)="onAddProduct()"
      [disabled]="productForm.invalid"
    >
      Save
    </button>
  </div>
</clr-modal>

<clr-modal
  [(clrModalOpen)]="isOpenDeleteProductModal"
  *ngIf="isOpenDeleteProductModal"
  ><h3 class="modal-title">Delete Product</h3>
  <div class="modal-body">
    Are you sure you want to delete {{ selectedProduct.name }}?
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-secondary"
      (click)="isOpenDeleteProductModal = false"
    >
      No
    </button>
    <button class="btn btn-primary" (click)="onDeleteProduct(selectedProduct)">
      Yes
    </button>
  </div></clr-modal
>

<clr-modal
  [(clrModalOpen)]="isOpenUpdateProductModal"
  *ngIf="isOpenUpdateProductModal"
  ><h3 class="modal-title">Edit Product</h3>
  <div class="modal-body">
    <form
      clrForm
      clrLayout="horizontal"
      clrLabelSize="3"
      [formGroup]="productForm"
      autocomplete="off"
    >
      <clr-input-container>
        <label>Name</label>
        <input clrInput type="text" formControlName="name" />
        <clr-control-error
          >Please enter a name for the product!</clr-control-error
        >
      </clr-input-container>
      <clr-textarea-container>
        <label>Description</label>
        <textarea
          clrTextarea
          formControlName="description"
          cols="32"
          rows="5"
        ></textarea>
        <clr-control-error
          >Please enter a description for the product!</clr-control-error
        >
      </clr-textarea-container>
      <clr-input-container>
        <label>Unit Price</label>
        <input
          clrInput
          type="text"
          formControlName="unitPrice"
          placeholder="0.00"
          appTwoDigitDecimalNumber
        />
        <clr-control-error
          >Please enter the unit price of the product!</clr-control-error
        >
      </clr-input-container>
      <clr-date-container>
        <label>Effective Date</label>
        <input type="date" clrDate formControlName="effectiveDate" required />
        <clr-control-error
          >Please enter the effective date of the product!</clr-control-error
        >
      </clr-date-container>
    </form>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-secondary"
      (click)="isOpenUpdateProductModal = false"
    >
      Cancel
    </button>
    <button
      class="btn btn-primary"
      (click)="onUpdateProduct()"
      [disabled]="productForm.invalid"
    >
      Update
    </button>
  </div></clr-modal
>

<clr-modal
  [(clrModalOpen)]="isOpenCreateOrderModal"
  *ngIf="isOpenCreateOrderModal"
  ><h3 class="modal-title">Create Order</h3>
  <div class="modal-body">
    <form
      clrForm
      clrLayout="horizontal"
      clrLabelSize="3"
      [formGroup]="orderForm"
      autocomplete="off"
    >
      <clr-input-container>
        <label>Product</label>
        <input clrInput type="text" formControlName="product" />
      </clr-input-container>
      <clr-input-container>
        <label>Product Catalog</label>
        <input clrInput type="text" formControlName="productCatalog" />
      </clr-input-container>
      <clr-date-container>
        <label>Order Date</label>
        <input type="date" clrDate formControlName="orderDate" required />
      </clr-date-container>
      <clr-input-container>
        <label>Unit Price</label>
        <input clrInput type="text" formControlName="unitPrice" />
      </clr-input-container>
      <clr-input-container>
        <label>Quantity</label>
        <input clrInput type="number" formControlName="quantity" />
        <clr-control-error>Please enter a quantity!</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Total</label>
        <input
          clrInput
          type="text"
          value="{{
            orderForm.controls.unitPrice.value *
              orderForm.controls.quantity.value | number: '1.2-2'
          }}"
          disabled
        />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="isOpenCreateOrderModal = false">
      Cancel
    </button>
    <button class="btn btn-primary" (click)="onCreateOrder()">Save</button>
  </div></clr-modal
>
