<div class="container">
  <table class="table table-hover table-bordered">
    <thead class="bg-primary text-white">
      <tr>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Orders</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.firstName }}</td>
        <td>{{ customer.lastName }}</td>
        <td>
          <span *ngIf="!!customer.orders && customer.orders.length == 0">0 Orders</span>
          <a [routerLink]="['/customerorders/', customer.username]" class="btn-link" *ngIf="!!customer.orders && customer.orders.length > 0">
              {{ customer.orders.length }} Orders
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
