<div class="clr-row">
  <div class="clr-col-12">
    <div class="card">
      <h3 class="card-header">Shopping Cart</h3>
      <div class="card-block" *ngIf="itemsInCart$ | async as orders">
        <div class="clr-row">
          <div class="clr-col-lg-8 clr-col-12">
            <div class="card-text">
              <div class="card-block" *ngFor="let order of orders">
                <div class="card-text">
                  <div class="clr-row clr-align-items-end">
                    <div class="clr-col-lg-5 clr-col-12">
                      <div class="clr-row">
                        <h6 class="card-title">{{ order.productCatalog }}</h6>
                      </div>
                      <div class="clr-row">{{ order.product }}</div>
                    </div>
                    <div class="clr-col-lg-2 clr-col-12">
                      <div class="clr-row clr-align-items-end">
                        <span class="clr-col-4"
                          ><button
                            type="button"
                            class="btn btn-icon"
                            [disabled]="order.quantity === 1"
                            (click)="onDecreaseQuantity(order)"
                          >
                            <cds-icon shape="minus"></cds-icon></button
                        ></span>
                        <span class="clr-col-2">{{ order.quantity
                        }}</span>
                        <span class="clr-col-4"
                          ><button
                            type="button"
                            class="btn btn-icon"
                            (click)="onIncreaseQuantity(order)"
                          >
                            <cds-icon shape="plus"></cds-icon></button
                        ></span>
                      </div>
                    </div>
                    <div class="clr-col-lg-2 clr-col-12">
                      <div class="clr-row">
                        {{ order.unitPrice | number: "1.2-2" }}
                      </div>
                    </div>
                    <div class="clr-col-lg-2 clr-col-12">
                      <div class="clr-row">
                        {{ order.quantity * order.unitPrice | number: "1.2-2" }}
                      </div>
                    </div>
                    <div class="clr-col-lg-1 clr-col-12">
                      <div class="clr-row">
                        <clr-tooltip
                          ><cds-icon
                            shape="trash"
                            status="danger"
                            clrTooltipTrigger
                            (click)="onDeleteOrder(order)"
                          ></cds-icon>
                          <clr-tooltip-content clrPosition="top-left"
                            >Delete Item</clr-tooltip-content
                          >
                        </clr-tooltip>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-lg-4 clr-col-12">
            <h3 class="card-title">Summary</h3>
            <div class="card-text">
              <strong>Items: </strong>{{ calcItems(orders) }}
            </div>
            <div class="card-text">
              <strong>Total: </strong>
              {{ calcTotal(orders) | number: "1.2-2" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
